.categoryTree{width:560px; height:350px; overflow:scroll; display:none; position:absolute; z-index:99999999; left:0px; top:0px; background-color:white; padding:5px;}
.categoryTreeBack{width:100px; font-size:16px; color:#5db2ff; text-align:right; position:absolute; bottom:0px; right:8px; cursor:pointer;}
.mall-title{ font-family:微软雅黑; font-size:16px; color:#5db2ff; font-weight:bold;}
