<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
    <add key="webpages:Version" value="2.0"/>
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=123.206.18.234;Initial Catalog=er_common;User ID=er_common;Password=UiDwEsdPzCnEOIfzDcYV7gTDP3N19NGt;Max Pool Size=512;Connection Timeout=120" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--
        <customErrors mode="Off"/>
    -->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="getpb.do">
          <match url="^getpb\.do$"/>
          <action type="Rewrite" url="/api/op.ashx/getpb.do"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>